@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./fontello.css);
/* 숨김 제목 및 숨김 컨텐츠 */
.a11y-hidden, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow:hidden;
  margin: 0;
  clip-path: polygon(0 0, 0 0, 0 0);
  clip:rect(0 0 0 0);
  clip:rect(0,0,0,0);
}

body *, 
body *::before, 
body *::after {
  box-sizing: border-box;
}

html{
  font-size: 10px;
}
body{
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-size: 1.4rem;
  color: #181818;
  background: #cccccc;
}
/* 링크 스타일 */
a{
  color: inherit;
  text-decoration: none;
  
}
/* 스킵 네비게이션 */
.skip-nav{
  display: none;
}

/* 레이아웃 */
.header, .visual, .main, .slogan{
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  position: relative;
  background: #fff;
  border-radius: 0 0 15px 15px;
  padding: 0 30px;  
}

/* 로고 */
.logo {
  position: absolute;
  /* background-color: blue; */
  top: 50px;
  left: 65px;
  margin: 0;
}

/* 안내 링크 목록 */
.member{
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: right;
  margin-right: 30px;
}

.member li{
 display: inline-block;
 padding: 2px 0;
}

.member a {
  padding: 6px 0;
  display: inline-block;
  
}

/* 네비게이션 */
.navigation{
  padding-bottom: 35px;
}

.menu {
  background: linear-gradient(
    to bottom, 
    #f4a930 0%,
    #ef882d 35%,
    #ef882d 70%,
    #f4a930 100%
  );
  border-top: 2px solid currentColor;
  margin: 10px 0 0 0;
  padding-left: 0;
  list-style: none;
  height: 47px;
  border-radius: 0 0 5px 5px;
  padding-left: 225px;
}
.menu-item{
  position: relative;
  float: left;
}
.menu-button{
  cursor: pointer;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 700;
  background: transparent;
  line-height: 45px; 
  display: block;
  padding: 0 20px;
  border: 0;
  border-left: 2px solid rgba(255, 255, 255, .5);
  text-shadow: 1px 0px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000, 0px -1px 0 #000;
}
.menu-act .menu-button{
  color: #ff0;
}

.menu-act .menu-button::after{
  content: "";
  display: block;
  border-top: 2px solid #000;
}

.sub-menu{
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: none;
  position: absolute;
  background-color: pink;
  top: 47px;
  white-space: nowrap;
}

.sub-menu li,a {
  display: inline-block;
}
.sub-menu a {
  padding: 8px 0;
  margin-right: 10px;
}
.sub-menu a::before{
  content: '\f192';
  font-family: 'fontello';
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
}

.sub-menu a:hover::before,
.sub-menu a:focus::before{
  content: '\e800';
}

.menu-act .sub-menu{
  display: block;
}
.sub-menu1, 
.sub-menu2, 
.sub-menu3 {
  left: 0;
}
.sub-menu4, 
.sub-menu5, 
.sub-menu6 {
  right: 0;
}
/* 텍스트 및 배경 애니메이션 --비주얼 */
@keyframes textAni{
  0%{
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    transform: translate(0, 0)
    /* top: 0;
    left: 0; */
  }
  100%{
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    /* top: 45px;
    left: 400px; */
    transform: translate(400px, 75px)
  }
}
@keyframes flowerAni{
  0%{ opacity: 1; }
  100%{ opacity: 0; }
}

.visual {
  height: 120px;
  position: relative;
}

.visual::before, .visual::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  animation: flowerAni 2000ms alternate infinite ease-in-out
  
}
.visual::before{
  background-image: url("images/ani_flower_01.png"), url("images/ani_flower_02.png");
  background-position: 0 -10px, 670px 10px;
}
.visual::after{
  background-image: url("images/ani_flower_03.png"), url("images/ani_flower_04.png");
  background-position: 300px 10px, 800px 10px;
  animation-delay: 1000ms;
}
.visual-text{
  width:500px;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation-name: textAni;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  /* position: absolute; */
}
.main{
  background: #fff;
  padding: 30px 15px;
  /* justify-content: space-between; */
  padding: 30px 15px;
  overflow: hidden;
  min-height: 450px;
}
.group {
  margin: 0 15px;
  float: left; 
}
.group1{
  width:250px;

}
.group2{
  background: lightgreen;
  width: 380px;
}
.group3{
  background: lightsalmon;
  width: 190px;
}
/* 로그인 */
.login{
  background: radial-gradient(circle at right top, #f4a930, #ef882d);
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 #cccccc;
  padding: 15px 10px; 
}
.login-heading{
  color: #ff0;
  margin:0;
  font-size: 1.6rem;
  font-weight: 700;
  text-indent: 10px;
}
.login-form{
  background: #fff;
  border-radius: 5px 5px 0 0;
  margin-top: 10px;
  padding: 10px 10px 0 10px;
  
}
.login-form fieldset{
  border: 0;
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  border-bottom: 1px solid#ccc;
  position: relative;
}
.login-form label{
  display: inline-block;
  width: 4em;
}

.user-email , .user-pw  {
  margin-bottom: 5px;
}
.user-email *, .user-pw * {
  vertical-align: middle;
}
.login-form input{
  width: 90px;
  height: 22px;
  border: 1px solid #ccc;
  padding: 1px 1px 1px 0.5em;
}
.login-member{
  background: #fff;
  padding: 2px 10px;
  margin: 0;
  list-style: none;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
  letter-spacing: -1px; 
}
.login-member li{
  display: flex;
  flex-flow: nowrap;
  align-items: center;
}
.login-member .icon-right-open::before{
  color: #ef882d;
}
.login-member a {
  display: block;
  padding: 8px 0;
}
.btn-login {
  width: 50px;
  height: 50px;
  padding: 0 5px;
  border: 0;
  border-radius: 3px;
  background-color: #ef882d;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}
/* 유효성 검사 배너 */
.validation-list{
  background-color: yellow;
  margin: 25px 0 0 0;
  list-style: none;
  padding-left: 0;
}

.validation-list a {
  display: block;
  border-radius: 20px;
  border: 1px solid  #aaa;
  background: url(./images/validation_icon.png) 25px 50% / 20px 20px, 
              linear-gradient(to bottom, #eee, #ccc);
  background-repeat: no-repeat;
  padding: 8px 8px 10px 50px;
  margin-top: 10px;
}

.validation-list a:hover, .validation-list a:focus{
  color: lightcoral;
}
/* .clearfix::after {
  content: '';
  display: block;
  clear: both;
} */


.slogan {
  background: orange;
}

.footer {
  background: pink;
}

