@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./fontello.css);

body *, 
body *::before, 
body *::after {
  box-sizing: border-box;
}

html{
  font-size: 10px;
}
body{
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-size: 1rem;
  color: #181818;
  background: #fff;
}
/* 링크 스타일 */
a{
  color: inherit;
  text-decoration: none;
  
}
/* 스킵 네비게이션 */
.skip-nav{
  display: none;
}

/* 레이아웃 */
.header, .visual, .main, .slogan{
  width: 940px;
  margin: 0 auto;
}

/* header */
.header {
  position: relative;
  background: yellow;
  border-radius: 0 0 15px 15px;  
}

/* logo */
.logo {
  position: absolute;
  /* background-color: blue; */
  top: 50px;
  left: 65px;
  margin: 0;
  
}

/* 안내 링크 목록 */
.member{
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: right;
  margin-right: 30px;
}

.member li{
 display: inline-block;
 padding: 2px 0;
}

.member a {
  padding: 6px 0;
  display: inline-block;
  background-color: pink;
}

.visual {
  background: lime;
  height: 120px;
}

.main{
  background: skyblue;
  padding: 30px 30px;
  justify-content: space-between;
  overflow: hidden;
  padding: 30px 15px;
  min-height: 450px;
}

.group {
  margin: 0 15px;
  float: left; 
}

.group1{
  background: blueviolet;
  width: 250px;
}

.group2{
  background: lightgreen;
  width: 380px;
}

.group3{
  background: lightsalmon;
  width: 190px;
}

.slogan {
  background: orange;
}

.footer {
  background: pink;
}

